<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="custom-card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title text-center mb-4"><%= @event.title.capitalize %></h5>
          <p class="card-text">Commence le<%= @event.start_date %></p>
          <p class="card-text">Durée :<%= @event.duration %> minutes</p>
          <p class="card-text">Description : <%= @event.description %></p>
          <p class="card-text">Prix : <%= @event.price %> €</p>
          <p class="card-text">Lieu : <%= @event.location %></p>
          <p class="card-text">Organisé par : <%= @event.admin.first_name %> <%= @event.admin.last_name %></p>
        </div>
      </div>
      <div class="container d-flex justify-content-evenly">
        <%= button_to "S'inscrire à l'évenement", checkout_create_path(total: @event.price, event_id: @event.id), class: "btn btn-info", data: {turbo: false} %>
        <% if current_user.id == @event.admin_id %>
          <%= link_to "Editer l'évenement", edit_event_path(@event.id), class: "btn btn-secondary", data: {turbo: false} %>
        <% end %>  
        <%= puts current_user.id %>
        <%= puts @event.admin_id %>
      </div>
    </div>
  </div>
</div>